/*#shop {
  height: 1000px;
  width: 100vw;
}*/



body {
    background-color: #A9A7A7;
}

#container {
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: center;
}
#image {
  background-image: url("../IMG/LiveFastDie_AD.jpg");
  background-repeat: no-repeat;
  height: 1240px;
  width: 1200px;
  margin-top: 10%;
}

@media (max-width: 505px) {
  #image {
    background-image: url("../IMG/Flux_Icon_Live_300_rounded.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
  }
}
